<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="2.1.5" package="com.moment.GigaHitz" android:versionCode="14">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="27" />
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="GigaHitz.Android" android:icon="@mipmap/icon" android:screenOrientation="portrait" android:hardwareAccelerated="false" android:largeHeap="true"></application>
</manifest>